OPENAI_API_KEY=sk-...
MODEL_LLM = "gpt-4o-mini"
MODEL_EMBEDDING = "text-embedding-3-small"
LANGFUSE_PUBLIC_KEY=pk-...
LANGFUSE_SECRET_KEY=sk-...

# optionnal:
LANGFUSE_HOST=https://cloud.langfuse.com
CHROMA_PERSIST_DIR=./data/db/chroma_db
LOG_LEVEL=INFO